.github/instructions/copilot.instructions.md
.vs/
**/bin/
**/obj/
**/Debug/
**/Release/
dist/
*.aps
*.cache
*.db
*.iobj
*.ipdb
*.lastbuildstate
*.obj
*.pdb
*.suo
*.tlog
*.user
mds
*logs/
*log/
**testDocs/